---
layout: blog
lang: en
pubdate: "2018-12-19"
---



<!--/* Hide Nav; Hide Right Rail /*-->

<main role="main" property="mainContentOfPage" class="container">


<h1 property="name" id="wb-cont" dir="ltr">Canada.ca blog</h1>



<p>Evidence and insights from the Canada.ca team.</p>

<h2 class="wb-inv">Newest articles</h2>

<!-- Main loop of articles -->
<div class="row">

	   <div class="wb-eqht">

			 {% for post in paginator.posts %}
			 	<section class="col-md-7 col-sm-8 col-xs-12 blog-list">
  <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	<p>{{ post.description }}</p><p><small>[{{ post.date | date: "%F" }}]</small> </p>

	</section>

	<section class="col-md-5 col-sm-4 hidden-xs blog-list blog-photo">

	       <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> <img src=".{{ paginator.page }}/thumbs/{{ post.date | date: "%F" }}.png" alt="{{ post.alt }}" class="img-responsive thumbnail"></a>

	</section>

{% endfor %}
<div class="clearfix"></div>
<!-- end main loop of articles -->


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
<!-- End pagination links -->

		<div>
					<div class="col-sm-8">
			    <section>
			      <h2>Subscribe</h2>
			      <ul class="mrgn-tp-lg">
			        <li>
			          <a href="https://blog.canada.ca/feed.xml"><img src="./images/feed-icon-14x14.png" alt="ATOM" class="mrgn-rght-sm">ATOM</a>
			        </li>
							<li>
								<a href="https://blog.canada.ca/pages/signup.html">Sign up for our mailing list</a>
							</li>
			      </ul>
			    </section>
					</div>
		</div>



</div>
