	<div class="row">
		<div class="col-md-12">
			<ul class="list-inline margin-bottom-none">
			{%- assign posts = site.posts | where:"ref", page.ref | sort: 'lang' -%}
			{%- for post in posts -%}
				{%- if post.lang != page.lang -%}
				<li><a lang="{{ post.lang }}" hreflang="{{ post.lang }}" href="{{ post.url | prepend: post.baseurl }}">{{ site.language[post.lang] }}</a></li>
				{%- endif -%}
			{%- endfor -%}
			{%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
			{%- for page in pages -%}
				{%- if page.lang != page.lang -%}
				<li><a lang="{{ page.lang }}" hreflang="{{ page.lang }}" href="{{ page.url | prepend: site.baseurl }}">{{ site.language[page.lang] }}</a></li>
				{%- endif -%}
			{%- endfor -%}
			</ul>
		</div>
	</div>