  <div class="pagedetails container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-4">
        <details class="brdr-0">
          <summary class="btn btn-default text-center">Report a problem on this page</summary>
          <div class="well row">
            <div class="gc-rprt-prblm">
              <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
                <form action="#">
                  <fieldset>
                    <legend><span class="field-name">Please select all that apply: </span></legend>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f1">
                        <input type="checkbox" name="problem1" value="Yes" id="gc-rprt-prblm-f1">A link, button or video is not working
                      </label>
                      <input name="problem1" type="hidden" value="No">
                    </div>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f2">
                        <input type="checkbox" name="problem2" value="Yes" id="gc-rprt-prblm-f2">It has a spelling mistake
                      </label>
                      <input name="problem2" type="hidden" value="No">
                    </div>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f3">
                        <input type="checkbox" name="problem3" value="Yes" id="gc-rprt-prblm-f3">Information is missing
                      </label>
                      <input name="problem3" type="hidden" value="No">
                    </div>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f4">
                        <input type="checkbox" name="problem4" value="Yes" id="gc-rprt-prblm-f4">Information is outdated or wrong
                      </label>
                      <input name="problem4" type="hidden" value="No">
                    </div>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f5">
                        <input type="checkbox" name="problem5" value="Yes" id="gc-rprt-prblm-f5">I can't find what I'm looking for
                      </label>
                      <input name="problem5" type="hidden" value="No">
                    </div>
                    <div class="checkbox">
                      <label for="gc-rprt-prblm-f6">
                        <input type="checkbox" name="problem6" value="Yes" id="gc-rprt-prblm-f6">Other issue not in this list
                      </label>
                    <input name="problem6" type="hidden" value="No">
                    </div>
                  </fieldset>
                  <button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>Submit</button>
                </form>
              </div>
              <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
                <h3>Thank you for your help!</h3>
                <p>You will not receive a reply. For enquiries, please <a href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
              </div>
            </div>
          </div>
        </details>
      </div>
      <div class="col-sm-3 mrgn-tp-sm pull-right">
        <div class="wb-share" data-wb-share='{&#34;lnkClass&#34;: &#34;btn btn-default btn-block&#34;}'></div>
      </div>
      <div class="datemod col-xs-12 mrgn-tp-lg">
        <dl id="wb-dtmd">
          <dt>Date modified:&#32;</dt>
          <dd><time property="dateModified">{{ page.date | date: "%F" }}</time></dd>
        </dl>
      </div>
    </div>
  </div>
</main>
<footer id="wb-info">
  <div class="landscape">
    <nav class="container wb-navcurr">
      <h2 class="wb-inv">About government</h2>
      <ul class="list-unstyled colcount-sm-2 colcount-md-3">
        <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
        <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
        <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
        <li><a href="https://www.canada.ca/en/news.html">News</a></li>
        <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
        <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
        <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
        <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
        <li><a href="https://open.canada.ca/en/">Open government</a></li>
      </ul>
    </nav>
  </div>
  <div class="brand">
    <div class="container">
      <div class="row">
        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
          <h2 class="wb-inv">About this site</h2>
          <ul>
            <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
            <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
            <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
            <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
            <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
          </ul>
        </nav>
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-right">
          <img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>